.app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;

    .app-inner {
        max-width: 1080px;
        width: 100%;

        .status-indicator {
            font-size: 100px;
            width: 100%;
            text-align: center;
        }
    }
}
